/vendor

/public/static/psd
/public/static/node_modules
/public/uploads

/usersfiles
/psd

.idea
*.clpprj
Thumbs.db

/app/config/database.php
/app/storage
/app/lang
/!files
/!info
/bootstrap/compiled.php