/vendor

/public/static/psd
/public/uploads
node_modules

/usersfiles
/psd

.idea
*.clpprj
Thumbs.db

/app/config/database.php
/app/config/packages
/app/storage
/app/lang
/!files
/!info
/bootstrap/compiled.php