@media screen and (min-width: 768px) and (max-width: 1200px) {
	@import "system/grid_tablet";

	.tablet-hidden {
		display: none !important;
	}

	.grid_t12 {
		width: 738rem / @hfs !important;
	}

	.grid_t9 {
		width: 546rem / @hfs !important;
	}

	.grid_t6 {
		width: 354rem / @hfs !important;
	}

	.js-main-links {
		transform: translateX(0) !important;
	}

	.main-stat .canvas-cirs, .main-stat .stat-right-block {
		margin-top: 10rem / @hfs;
		margin-bottom: 0;
	}

	.stat-nav .stat-items .stat-item {
		width: 183px;
	}

	.prj-ul {
		font-size: 14em / @hfs;
	}

	.benefits .benefit-text {
		width: 11.5rem;
	}

	.vacancy-ul li, .aims li, .progress-slider .ps-block, .vacancy-list li {
		width: 50%;
	}

	.solutions .solution {
		height: auto;
		min-height: 18.75rem;
	}

	.solutions .solution .solution-right .sol-comps .comps-in .comps-ul li {
		width: 101%;
	}

	.audience .aud-container .aud-slide .aud-block {
		width: 50%;
	}

	.sol-tabs li {
		margin: 0;
	}

	.tablet-top-lmar {
		margin-top: 40rem / @hfs !important;
	}

	.prj-arrows {
		display: block;
		margin: 0 0 25rem / @hfs 10rem / @hfs;
	}

	.js-news-all {
		.js-news-grid:nth-of-type(3) {
			display: none;
		}
	}

	.news-search {
		.tags-ul {
			.columns-2;
		}
	}

	.news-first {
		.grid_4 {
			.grid_t6;
		}
	}

	.head-top-info {
		.tags-ul {
			display: block;
			margin-left: 0;
		}
	}

	.js-relative-news .js-relative-in {
		position: relative;

		.grid_t6, .grid_t12 {
			display: inline;
			float: left;
			margin-left: 15rem / @hfs;
			margin-right: 15rem / @hfs;
		}

		.grid_t6 {
			width: 21.1rem !important;
		}
	}
}