@media screen and (max-width: 1200px) {
	@import "system/grid_tablet";

	.tablet-hidden {
		display: none !important;
	}

	.grid_t12 {
		width: 738rem / @hfs !important;
	}

	.grid_t6 {
		width: 354rem / @hfs !important;
	}

	.js-main-links {
		transform: translateX(0) !important;
	}

	.main-stat .canvas-cirs, .main-stat .stat-ul {
		margin-top: 10rem / @hfs;
	}

	.stat-nav .stat-items .stat-item {
		width: 183px;
	}
}