.main-footer {
	background: #424a53;
	font-size: 14px;
	font-weight: 500;
	color:  #babcbc;
	padding: 50rem / @hfs 0;

	.footer-title {
		color: #8a8d8e;
		text-transform: uppercase;
		margin-bottom: 25rem / @hfs;
	}

	.footer-list {
		.list-unstyled;
		margin-bottom: 35rem / @hfs;

		li {
			a {
				color: inherit;
				line-height: 30rem / @hfs;
				text-decoration: none;
			}
		}
	}

	.footer-line {
		height: 1px;
		background: #3e454d;
		margin-bottom: 40rem / @hfs;
	}

	.copy-right {
		color: #8a8d8e;
		float: right;

		a {
			color: #fff;
			text-decoration: none;
		}
	}
}