.list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}
.fl-r {
	float: right;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.columns-2 {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 40rem / @hfs;
       -moz-column-gap: 40rem / @hfs;
            column-gap: 40rem / @hfs;

    li {
        break-inside: avoid-column;
    }
}
.svg-font {
	speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.us-section, .gray-section, .dark-section {
    padding: 40rem / @hfs 0;

    h2:first-child {
        margin-top: 0;
    }
}
.gray-section {
    background: @normal-gray;
}
.dark-section {
    background: @dark-section;

    h1, h2, .us-desc {
        color: #fff;
    }
}
.non-bot-pad {
    padding-bottom: 0;
}
.non-top-pad {
    padding-top: 0;
}
.non-padding {
    padding: 0;
}
.non-margin {
    margin: 0 !important;
}
.non-top-margin {
    margin-top: 0;
}
.over-hidden {
    overflow: hidden;
}