// DEFAULT ELEMENTS

h1 {
	font-weight: 300;
	font-size: 36em / @hfs;
	margin: 10em / @hfs 0;
}

h2 {
	font-weight: 400;
	font-size: 24em / @hfs;
	text-transform: uppercase;
	margin: 20rem / @hfs 0;

	.h2-desc {
		color: @color-desc;
		text-transform: none;
	}
}

h1, h2 {
	color: #313736;
}

p {
	margin-top: 0;
}

section a {
	color: @black-link;
	text-decoration: none;
	transition: color .2s ease;

	&:hover {
		color: @green-link;
	}
}

// CUSTOM ELEMENTS

.title-btn {
	display: inline-block;
	padding: 0 35em / @hfs;
	height: 40rem / @hfs;
	line-height: 40rem / @hfs;
	color: @green-link !important;
	border: 1px solid @green-link;
	border-radius: 40rem / @hfs;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12em / @hfs;
	font-weight: 500;
	transition: all .2s ease;
	background: transparent;
	outline: 0 none;

	&:hover {
		color: #fff !important;
		background: @green-link;
	}

	&.success {
		color: #fff !important;
		background: @green-link;
		cursor: default;
	}
}

.us-desc {
	font-size: 18em / @hfs;
	font-weight: 500;
	color: @color-desc;
	line-height: 35rem / @hfs;
	width: 75%;
	margin: 30rem / @hfs 0;
}

.desc-lh {
	line-height: 30rem / @hfs;
}

.bold-desc {
	.desc-lh;
	font-size: 18em / @hfs;
	color: @color-desc;
	font-weight: 500;

	p {
		margin-bottom: 40rem / @hfs;
	}

	&.min-mar p {
		margin-bottom: 10rem / @hfs;
	}

	p:last-child {
		margin: 0;
	}
}

.us-icon {
	font-family: "solutions";
	display: inline-block;
	vertical-align: middle;
	font-size: 18em / @hfs;
}

.icon-prjall:before {
	content: "\e600";
}
.icon-law:before {
	content: "\e601";
}
.icon-auto:before {
	content: "\e602";
}
.icon-education:before {
	content: "\e603";
}
.icon-goverment:before {
	content: "\e604";
}
.icon-health:before {
	content: "\e605";
}
.icon-portals:before {
	content: "\e606";
}
.icon-tourism:before {
	content: "\e607";
}

.lit-icon {
	position: relative;
	font-family: "elements";
	font-style: normal;
	font-size: 11em / @hfs;
	margin-right: 5rem / @hfs;
	top: -.01em;

	&.icon-projects:before {
		content: "\e606";
	}

	&.icon-download:before {
		content: "\e805";
	}
}

.desc-icon {
	font-family: 'elements';
	display: inline-block;
	width: 30rem / @hfs;
	height: 30rem / @hfs;
	color: @green-link;
	transition: color .2s ease;
	margin-right: 20rem / @hfs;
	text-decoration: none;
	font-size: 30rem / @hfs;

	&:hover {
		color: @gray-link;
	}

	&.disable {
		color: @gray-link;
		cursor: default;
	}

	&.prev:before { content: "\e605"; }
	&.next:before { content: "\e604"; }
	&.close:before { content: "\e603"; }
}

.ext-link {
	&:after {
		content: "\e607";
		position: relative;
		font-family: "elements";
		font-size: .7em;
		margin-left: 1em;
		top: -.2em;
	}
}

.sol-dots {
	.list-unstyled;
	margin-left: -3rem / @hfs;

	li {
		position: relative;
		display: inline-block;
		width: 15rem / @hfs;
		height: 15rem / @hfs;
		margin-right: 25rem / @hfs;
		cursor: pointer;

		&:before {
			content: "";
			box-sizing: border-box;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -8px / 2;
			margin-left: -8px / 2;
			width: 8px;
			height: 8px;
			border-radius: 10px;
			background: #babcbc;
			border: 1px solid transparent;
		}

		&:hover {
			&:before {
				background: #22cca6 !important;
			}
		}

		&.active {
			&:before {
				margin-top: -10px / 2;
				margin-left: -10px / 2;
				width: 10px;
				height: 10px;
				background: transparent !important;
				border-color: #22cca6;
			}
		}
	}
}

.bul-ul {
	.list-unstyled;

	li {
		position: relative;
		padding-left: 30rem / @hfs;
		margin-bottom: 15rem / @hfs;

		&:before {
			content: "";
			position: absolute;
			display: inline-block;
			left: 0;
			top: .4em;
			width: 7rem / @hfs;
			height: 7rem / @hfs;
			border-radius: 7rem / @hfs;
			border-width: 1px;
			border-style: solid;
			border-color: @green-link;
		}
	}
}

.icons-ul {
	.list-unstyled;

	li {
		position: relative;
		padding-left: 50rem / @hfs;
		margin-bottom: 30rem / @hfs;

		&:before {
			position: absolute;
			left: 0;
			top: .15em;
			font-family: "elements";
			font-size: 40em / @hfs;
		}

		a {
			color: inherit;
		}

		&.li-file:before { content: "\e609"; }
		&.li-file-big:before { content: "\e608"; }
	}
}

.aims {
	.list-unstyled;

	li {
		box-sizing: border-box;
		display: inline-block;
		vertical-align: top;
		width: 25%;
		margin-bottom: 2px;
		padding: 0 1px;

		.aim {
			padding: 20rem / @hfs;
			box-sizing: border-box;

			&:before {
				content: attr(data-number);
				display: inline-block;
				width: 30rem / @hfs;
				height: 30rem / @hfs;
				border-radius: 30rem / @hfs;
				line-height: 30rem / @hfs;
				text-align: center;
				font-weight: 500;
				border-width: 1px;
				border-style: solid;
				border-color: @green-link;
				color: @green-link;
				margin-bottom: 20rem / @hfs;
			}
		}
	}

	&.aims-light li .aim {
		background: #f5f5f5;
		
	}

	&.aims-dark li .aim {
		background: #5e6975;
		color: @gray-link;

		&:before {
			border-color: #fff;
			color: #fff;
		}
	}

	&.aims-small {
		li {
			width: 50%;
		}
	}
}

.title-link {
	a {
		&:after {
			content: "\e60e";
			position: relative;
			display: inline-block;
			width: 0;
			left: 10rem / @hfs;
			font-family: "elements";
			font-size: .7em;
		}
	}

	&.lower-title {
		a:after {
			font-size: .6em;
			top: 0em;
		}
	}
}

.netrika-block {
	position: relative;

	&:before {
		content: "";
		position: absolute;
		left: 500rem / @hfs;
		top: -160rem / @hfs;
		width: 1045rem / @hfs;
		height: 236rem / @hfs;
		background: url(../img/svg/netrika_white.svg);
		background-repeat: no-repeat;
		background-position: center;
	}
}