.type-health {
	.hover-circle { background: @color-health; }
	.sol-comps li:before { border-color:  @color-health; }

	.color-0 { background: @color-health; }
	.color-1 { background: lighten(@color-health, @color-light); }
	.color-2 { background: lighten(@color-health, @color-lighter); }

	.stat-ul .title {
		&.normal:before { background: @color-health; }
		&.light:before { background: lighten(@color-health, @color-light); }
		&.lighter:before { background: lighten(@color-health, @color-lighter); }
	}

	&.stat-item.active, &.stat-item:hover { color: @color-health !important; }
}

.type-education {
	.hover-circle { background: @color-education; }
	.sol-comps li:before { border-color:  @color-education; }

	.color-0 { background: @color-education; }
	.color-1 { background: lighten(@color-education, @color-light); }
	.color-2 { background: lighten(@color-education, @color-lighter); }

	.stat-ul .title {
		&.normal:before { background: @color-education; }
		&.light:before { background: lighten(@color-education, @color-light); }
		&.lighter:before { background: lighten(@color-education, @color-lighter); }
	}

	&.stat-item.active, &.stat-item:hover { color: @color-education !important; }
}

.type-auto {
	.hover-circle { background: @color-auto; }
	.sol-comps li:before { border-color:  @color-auto; }
}

.type-goverment {
	.hover-circle { background: @color-goverment; }
	.sol-comps li:before { border-color:  @color-goverment; }
}

.type-law {
	.hover-circle { background: @color-law; }
	.sol-comps li:before { border-color:  @color-law; }
}

.type-tourism {
	.hover-circle { background: @color-tourism; }
	.sol-comps li:before { border-color:  @color-tourism; }
}

.type-portals {
	.hover-circle { background: @color-portals; }
	.sol-comps li:before { border-color:  @color-portals; }
}
