.main-stat {
	padding: 30rem / @hfs 0 20rem / @hfs;

	h1 {
		margin-top: 0;
	}

	.stat-desc {

		p {
			color: #7f8281;
			font-size: 18em / @hfs;
			font-weight: 300;
			line-height: 30rem / @hfs;
		}
	}

	.stat-ul {
		.list-unstyled;
		margin-top: 90rem / @hfs;

		li {
			margin-bottom: 30rem / @hfs;

			.title {
				font-size: 36em / @hfs;
				font-weight: 300;

				&:before {
					content: "";
					position: relative;
					display: inline-block;
					vertical-align: middle;
					top: -.05em;
					width: 10rem / @hfs;
					height: 10rem / @hfs;
					border-radius: 10rem / @hfs;
					margin-right: 20rem / @hfs;
				}
			}

			p {
				margin-top: 5rem / @hfs;
			}
		}
	}

	.canvas-cirs {
		height: 360rem / @hfs;
		margin-top: 90rem / @hfs;

		canvas {
			position: absolute;
		}
	}
}

.stat-nav {
	position: relative;
	height: 170rem / @hfs;
	background: #f5f5f5;

	.stat-control {
		line-height: 170rem / @hfs;
	}

	.stat-items {
		position: relative;
		transition: left .5s ease;
		height: 100%;

		.stat-item {
			position: relative;
			height: 100%;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 14em / @hfs;
			color: #454f52;
			padding-top: 40rem / @hfs;
			transition: color .1s ease;

			&:first-child {
				margin-left: 0;
			}

			&.active {
				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 50%;
					margin-left: -10px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 10px 10px 0 10px;
					border-color: #fff transparent transparent transparent;
				}
			}

			.sol-icon {
				font-family: 'sol-icons';
				display: inline-block;
				font-size: 40em / @hfs;
				margin-bottom: 20rem / @hfs;
			}
		}
	}
}