.search-parent {
	background: @normal-gray;
	padding-bottom: 40rem / @hfs;

	.section-grid {
		font-size: 0;

		.grid_4 {
			display: inline-block;
			vertical-align: top;
			float: none;
			font-size: 16rem / @hfs;
		}
	}

	.search-desc {
		margin-top: 15rem / @hfs;
		height: 60px;
		overflow: hidden;
	}

	.search-section {
		display: inline-block;
		vertical-align: top;
		background: inherit;
	}

	.projects {
		.solution-block {
			margin-bottom: 0;
		}

		.search-desc {
			margin-bottom: 40rem / @hfs;
		}
	}

	.search-news {
		.news-item {
			margin-bottom: 0;
		}

		.search-desc {
			margin-bottom: 40rem / @hfs;
		}
	}

	.search-solutions {
		padding: 40rem / @hfs 0 0;

		.search-solution-item {
			margin-top: 20rem / @hfs;
			margin-bottom: 20rem / @hfs;
		}

		.solution-head {
			.sol-icon {
				display: inline-block;
				font-family: "sol-icons";
				font-size: 35em / @hfs;
				vertical-align: middle;
				width: 60rem / @hfs;
			}

			span {
				display: inline-block;
				vertical-align: middle;
				font-size: 14em / @hfs;
				text-transform: uppercase;
				font-weight: 500;
				width: 11rem;
			}
		}
	}

	.search-news {
		padding: 40rem / @hfs 0 0;
	}

	.search-links {
		padding: 40px 0;
		background: #fff;

		h2 {
			margin: 0;
		}
	}
}

.title-block {
	.search-word {
		margin-top: 25rem / @hfs;
		color: @gray-link;
		font-size: 24rem / @hfs;
		font-weight: 300;
	}

	.search-results {
		margin-top: 20rem / @hfs;
		color: @gray-link;
		font-weight: 300;
	}
}