.js-netrika-slider {
	white-space: nowrap;
	overflow: hidden;
	font-size: 0;

	.js-slider-window {
		transition: all .2s ease;
	}

	.js-slide {
		display: inline-block;
		vertical-align: top;
		white-space: normal;
		width: 100%;
		font-size: 16rem / @hfs;
	}
}

.slider-cont {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;

	.slider-image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-size: cover;
		opacity: 0;

		&.active {
			opacity: 1;
		}

		&.wtransition {
			transition: all .5s ease;
		}
	}
}